.hide{display: none;}

.nav-w .nav .sub_nav_child{
    height: 170px !important;
}

.select .selected .select-input{
    height: 32px;
}

.ana{
	color: #fff;
}






/*header*/
.i-banner .Ibtn{
	width: 200px !important;
}




/**/
.main-l table td, .main-l table th{
	padding: 5px;
}