$bgColor : green;

.clear-padding{
  padding:0 !important;
}
.c-red{
  color: red;
}

body{
  background: #000;
}

body > app {
}

body .container {
  background: #fff;
}

body #layout-app {
  min-height: 500px;
}

body .container >.row{
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-top-0{
  margin-top: 0 !important;
}


//header

.header
{
  height: 133px;
  overflow: hidden;
  background-color: White;
}
.header01
{
  height: 91px;
  overflow: hidden;
  background: url(/images/head_bg.jpg) right no-repeat
}

.hr01
{
  width: 407px;
  height: 28px;
  background-image: url(/images/img_09.gif);
  background-repeat: no-repeat;
}
.hr01 div
{
  float: left;
  line-height: 30px;
  font-size: 11px;
}
.hr01 a:link, .hr01 a:visited
{
  color: white;
  text-decoration: none;
}
.hr01 a:hover, .hr01 a:active
{
  color: white;
  text-decoration: underline;
}
.hr0101
{
  padding-left: 52px;
}
.hr0102
{
  padding-left: 130px;
}
.hr02
{
  text-align: right;
  line-height:22px;
  padding-top: 22px;
  padding-right: 22px;
}

//end header


//menu nav
#app-navbar-collapse{
  background: green;
  text-align: center;
  a{
    color: #fff;
    &:hover{
      color: green;
    }
  }

  ul.navbar-nav{
    float: none;
    li{

      &.active{
        background-color: #3097D1;
        a{
          color: #fff;
        }
      }


      a:hover{
        background-color: #3097D1;
        color: #fff;
      }

      display: inline-block;
      float: none;
      //width: 125px;
      width: 13.33%;
      font-size: 16px;
    }
  }
}
//end menu nav

//footer start
.container{

  .panel {
    margin-bottom: 10px;
  }

  > .side-wrapper {

    .sidebar{
      .panel-body{
        background-color: #f5f5f5;
      }
    }
  }
  .content-wrapper{
    width: 925px;
    background: #fff;
    pre{
      background: #fff;
    }

    .main-nav{
      margin-bottom: 20px;
    }

    .list-wrapper{
      clear: left;
      margin-top: 20px;
      padding-left: 15px;
      list-style-type: none;
      background-position: left;
      list-style-position: outside;
      background: url(/images/news_list_style.gif) no-repeat 0px;

      .title{fonr-size: 1.25em; font-weight: bold;}
    }
    .home-page{
      .col-md-12 > pre{
        border: none;
      }
    }
    .guest-book {

      form{
        tr{
          td{
            .error{
              color: #f00; margin-left: 20px;
            }
          }
        }
      }

      .list tr{
        height: auto;
        min-height: 30px;
        .not-valid{
          color: #f00;
        }
      }
    }

    .main-list-1{
      //文章
      .list-wrapper{

        .thumb{
          display: none;
        }
        .content{
          display: none;
        }
        .info{
          text-align: right;
          .title {
            float: left;
          }
        }
        .down-counter{
          display: none;
        }
        .counter{ margin-left: 50px; margin-right: 15px;}
        .time{
          width: 126px;
          display: inline-block;
        }
        .down{display: none;}
      }
    }
    .main-list-3{
      //下载
      .list-wrapper{
        height: 120px;
        margin-top: 10px;
        margin-bottom: 10px;
        background: none;
        padding-left: 0;
        .thumb{
          float: left;
          width: 150px;
        }
        .info{
          margin-left: 15px;
          display: inline-block;
          width: 30%;


          .title{
            display:inline; height: 25px; line-height: 25px; width:400px; margin:0; white-space:nowrap;overflow:hidden;text-overflow:ellipsis;

          }
          .content{
            display: block; width:480px; margin:0; white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
          }
        }
        .time{
          display: none;
          color: red;
        }
        .counter{
          display: none;
        }

      }
    }
    .main-list-3{
      //下载

    }

    #xhyPage{
      nav{
        display: inline-block;
      }
      .page-actions{
        height: 50px;
        line-height: 50px;
        display: inline-block;
        width: 285px;
        vertical-align: 34px;

        #page{
          height:25px;
          line-height:25px;
          text-align: center;
        }
        ul li{
          list-style: none;
        }
      }
    }
  }
  > footer{
    background: #666 !important;
    color: #fff;
    height: 100px;

    vertical-align: middle;

    .margin-top-10{
      margin-top: 30px;
    }
    .nav{
      height: 20px;
      line-height: 20px;
      margin-top:auto;;
      margin-bottom: auto;
      display: inline-block;
      ul{
        padding-left: 0;
      }
      li{
        float: left;
        list-style-type: none;

        &.line{
          width: 1px;
          background: #fff;
          display: block;
          height: 12px;
          margin-top: 5px;
          margin-left: 12px;
          margin-right: 12px;
        }
        a{
          color: #fff;
          &:hover{
            color: darken(#fff, 10%)
          }
        }
      }
    }
  }
}
//end footer


input[type=file] {
  background: none;
  border : none;
}

input[type="file"].ajax_upload {
  display: none;
}
img.ajax_upload_img {
  width: 60px;
  height: 60px;
}

.list-style-none{
  list-style : none;
}
.display-inline-block{
  display: inline-block;
}
.border-right-1px{
  border-right: 1px solid #000;
}
.p-right-10{
  padding-right:  10px;
}
.margin-top-10{
	margin-top: 10px;
}
.margin-column{
	margin-top: 10px;
	margin-bottom: 10px;
}
.margin-row{
	margin-left: 10px;
	margin-right: 10px;
}

//面包屑
.breadcrumb a.active{
    color: #777;
}
 
 

/*dataTable  start  */
.page-numeric {
  background: none!important;
}
/*dataTime*/
.page-data-times {
  position: absolute;
  right: 0px;
  top: 0px;
  margin-right: 10px;
  margin-top: 10px;
}
.page-data-times .page-times-style {
  background: #fe7023;
  cursor: pointer;
  padding: 10px 10px;
  border: 1px solid #fe7023;
  width: 100%; 
  color: #fff;
  border-radius: 5px!important;
}
.mar-le15 {
  margin-left: 15px!important;
}
.mar-le10 {
  margin-left: 10px!important;
}
.calendar-time {
  display: none;
}
.page-hidden {
  visibility: hidden;
}
.page-mar {
  margin-top: 19px;
}
.icon-data {
  display: inline-block;
  width: 14px;
  margin-right: 3px;
}


//新增样式xhy
.dataTables_length{
  display: inline-block;
  float:right;
}
.dataTables_filter{
  display: inline-block;
  float: left;
}
.paging_simple_numbers {
    a {
      margin-left:5px;
      margin-right: 5px;
      cursor: pointer;
    }
}
.type_filter {
  margin-right: 20px;
}

/*dataTable  end  */


.f-left{
  float:left;
}
.f-right{
  float: right;
}

//xhy布局
@mixin p-margin{
  margin-top: 10px;
  margin-bottom: 10px;
}
@mixin f-left{
  float:left;
}
@mixin f-right{
  float: right;
}
.xhy-nav{
  border-top: 1px solid red;
  ul:first-child{
    margin-left:0;
  }
  ul{
    margin-left: 20px;
    a{
      padding-top: 7px;
      padding-bottom: 7px;
    }
    ul{
      display: none;
    }
    li.active{
      a{
        background-color: #eeeeee;
      }
      ul{
        display: block;
        li{
          a{
            background: none;
          }
        }
      }
    }
  }
}


//xhy控件
.SelectContainer {
  padding-top: 5px;
  padding-bottom: 5px; 
}



//breadcrumbs

.active{
  .active{
    a{
      color: #bf5329;
    }
  }
}

.create-vue-wrap{

  >div{

    @include p-margin

    span:first-child{
      min-width: 50px;
      display: inline-block;
    }

    @at-root  textarea{
      width:500px;
      height: 50px;
    }
  }
}


//分享插件css
.jiathis_style_24x24 .jiathis_counter.jiathis_bubble_style {
  min-width: 65px !important;
}